@model ComputerShop.Web.Controllers.RepairPartsViewModel

@{
    ViewBag.Title = "Reparatie onderdelen";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "RepairParts"))
{
    @Html.AntiForgeryToken()

    <p>
        @Html.HiddenFor(model => model.RepairId)

        @Html.DropDownListFor(model => model.Parts.First().Value, Model.Parts)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Toevoegen" class="btn btn-default" />
            </div>
        </div>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepairParts.First().Part.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairParts.First().Part.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RepairParts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Price)
            </td>
            <td>
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Terug", "Index", "Repairs")
</div>