@using ComputerShop.Web.Models
@model ComputerShop.Web.Controllers.RepairPartsViewModel

@{
    ViewBag.Title = "Reparatie onderdelen";
}

<h2>
    @(Model.RepairParts.Count() == 0 ? @ViewBag.Title : Util.GetPluralString(@Model.RepairParts.Count(), "onderdeel", "onderdelen"))
</h2>

@using (Html.BeginForm("Create", "RepairParts"))
{
    @Html.AntiForgeryToken()

    <p>
        @Html.HiddenFor(model => model.RepairId)

        @Html.DropDownListFor(model => model.Parts.First().Value, Model.Parts)
        
        <input type="submit" value="Toevoegen" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepairParts.First().Part.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairParts.First().Part.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RepairParts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Price)
            </td>
            <td>
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    @if (Model.PartsTotalPrice != 0)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(model => model.PartsTotalPrice)
            </td>
            <td></td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Terug", "Index", "Repairs")
</div>