@using ComputerShop.Web.Models
@using ComputerShop.Data.Models
@model ComputerShop.Data.Models.Repair

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Description</h3>
    </div>
    <div class="panel-body">
        @{
            var status = EnumHelper<Status>.GetDisplayValue(Model.Status);
        }
        <div>@status</div>
        <br />

        @Html.ActionLink("Bewerken", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Verwijderen", "Delete", new { id = Model.Id })
    </div>
</div>