@using ComputerShop.Data.Models
@using ComputerShop.Web.Models
@model ComputerShop.Data.Models.Repair

@{
    var color = Model.EndDate == null || Model.EndDate >= DateTime.Now.Date ? "transparent" : "red";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background-color: @color">
        <h3 class="panel-title">@Model.Description</h3>
    </div>
    <div class="panel-body">
        <div>@Html.Raw(EnumHelper<Status>.GetDisplayValue(Model.Status))</div>
        <br />

        @Html.ActionLink("Bewerken", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Verwijderen", "Delete", new { id = Model.Id })
    </div>
</div>