@using ComputerShop.Data.Models
@using ComputerShop.Web.Models
@model ComputerShop.Web.Controllers.RepairDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details van @Html.DisplayFor(model => model.Repair.Name)</h2>

<div>
    <h4>Reparatie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Repair.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repair.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repair.Status)
        </dt>

        <dd>
            @(EnumHelper<Status>.GetDisplayValue(Model.Repair.Status))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repair.Description)
        </dt>

        <dd>
            <div class="multiline">@Html.DisplayFor(model => model.Repair.Description)</div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repair.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repair.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repair.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repair.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repair.Solution)
        </dt>

        <dd>
            <div class="multiline">@Html.DisplayFor(model => model.Repair.Solution)</div>
        </dd>

        <dt>
            @Html.ActionLink("Onderdelen", "Index", "RepairParts", new { id = Model.Repair.Id }, null)
        </dt>

        <dd>
            <table class="table">
                @foreach (var item in Model.RepairParts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part.Price)
                        </td>
                    </tr>
                }
                @if (Model.PartsTotalPrice != 0)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(model => model.PartsTotalPrice)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </dd>

        @if (Model.Repair.Image != null)
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Repair.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <a href="@Url.Action("Image", new { id = Model.Repair.Id })">
                    <img src="@imgSrc" width="250" />
                </a>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Bewerken", "Edit", new { id = Model.Repair.Id }) |
    @Html.ActionLink("Terug", "Index")
</p>
