@using ComputerShop.Data.Models
@using ComputerShop.Web.Models
@model ComputerShop.Data.Models.Repair

@{
    ViewBag.Title = "Details";
}

<h2>Details van @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Reparatie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @(EnumHelper<Status>.GetDisplayValue(Model.Status))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <div class="multiline">@Html.DisplayFor(model => model.Description)</div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            <div class="multiline">@Html.DisplayFor(model => model.Solution)</div>
        </dd>

        <dt>
            @Html.ActionLink("Onderdelen", "Index", "RepairParts", new { id = Model.Id }, null)
        </dt>

        <dd>
            <table class="table">
                @foreach (var item in Model.Parts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part.Price)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Bewerken", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug", "Index")
</p>
