@using ComputerShop.Data.Models
@using ComputerShop.Web.Models
@model ComputerShop.Web.Controllers.IndexViewModel

@{
    ViewBag.Title = "Computer reparatieshop";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <div>
        @Util.GetPluralString(Model.RepairCount, "reparatie", "reparaties")
        @if (Model.RepairPartsCount != 0)
        {
            <text>
                met in totaal @Util.GetPluralString(Model.RepairPartsCount, "onderdeel", "onderdelen") (@Html.DisplayFor(model => model.RepairPartsTotalPrice))
            </text>
        }
    </div>

    @if (Model.RepairStatusCounts != null)
    {
        <div>
            <br />
            <table>
                @foreach (Status status in Model.RepairStatusCounts.Keys)
                {
                    <tr>
                        <td>
                            @(EnumHelper<Status>.GetDisplayValue(status))
                        </td>
                        <td style='padding-left: 8px;'>
                            @Model.RepairStatusCounts[status]
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>